<div style="margin: 100px;">
    <h1>Pitch</h1>
    <button style="margin: 10px;" (click)="startService()">Start</button>
    <button style="margin: 10px;" (click)="stopService()">Stop</button>
    
    
    <section class="contact" id="contact">
        <div class="contactForm">  
            <div class="row">
                <div class="col100 ">
                    <textarea placeholder="Message">{{service.text}}</textarea>
                </div>
            </div>
        </div>
    </section>
   
    
</div>